Host bitbucket.org
  Hostname bitbucket.org
  IdentityFile ~/.ssh/id_rsa_bb
  ControlMaster=no

Host github.com *.github.com
  IdentityFile ~/.ssh/id_rsa_gh
  #Auto disconnects in just under 10 minutes, so I might as well do it before hand
  ControlMaster=no

Host *.amazonaws.com
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa_aws_sattel

Host dalal-code
  User root
  Hostname dalal
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  # Password ChangeM3

Host local-code
  Hostname localhost
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa

Host local-code-user
  User user
  Hostname localhost
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa

Host *
  AddKeysToAgent yes
