Host bitbucket.org
  Hostname bitbucket.org
  IdentityFile ~/.ssh/id_ed25519_bb
  ControlMaster=no

Host github.com *.github.com
  IdentityFile ~/.ssh/id_ed25519_gh
  #Auto disconnects in just under 10 minutes, so I might as well do it before hand
  ControlMaster=no

Host gitlab.com
  IdentityFile ~/.ssh/id_ed25519_gl_main
  ControlMaster=no

Host *.amazonaws.com
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa_aws_sattel

Host dalal-code
  User root
  Hostname dalal
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  # Password ChangeM3

Host local-code
  Hostname localhost
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa

Host local-code-user
  User user
  Hostname localhost
  Port 4022
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile ~/.ssh/id_rsa

Host *
  AddKeysToAgent yes
  PreferredAuthentications gssapi-with-mic,hostbased,publickey,password,keyboard-interactive
  CanonicalizeHostname yes
  # Specifying IdentityAgent so that it works for external apps that don't need to source
  # ~/.ssh/ssh-agent
  IdentityAgent ~/.ssh/ssh-agent_pipe
  ServerAliveInterval 30
  ServerAliveCountMax 10
