
# Match final all triggers match canonical which turns on CanonicalizeHostname.
# CanonicalizeHostname means that if you have "Host foo" which defines
# "Hostname foo.bar", then when CanonicalizeHostname is and you ssh into "foo",
# settings from Host foo are applied first then *.bar or foo.bar, etc... are
# applied

Match final all
